.parallax{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../../public/assets/Images/parallax_02.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cormorant,serif;
    min-height: 600px;
    position: relative;
}
.parallax h1{
    color: #fff;
    font-size: 32px;
    font-family: 'Cormorant';
}
.parallax h1 span{
    color: #c19f5f;
}
.parallax .square{
    animation: square 14s linear infinite;
    border: 1px solid #c19f5f;
    height: 140px;
    width: 140px;
    position: absolute;

}

@keyframes square {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (min-width: 576px) {
    .parallax h1{
        font-size: 48px;
    }
    
}

@media (min-width: 992px) {
    .parallax h1{
           font-size: 90px;
    }
    .parallax .square{
          height: 300px;
          width: 300px;
    }
    
}