.main-btn{
    padding: 24px;
    min-width: 230px;
    background-color: transparent;
    border-radius: 35px !important;
    border: 1px solid  #c19f5f ;
    transition: .5s ease;
}
.main-btn span{
    color: #c19f5f;
    letter-spacing: 3px;
    font-weight: 300;
    transition: .5s ease;
}
.main-btn:hover{
    border-color: #fff;
}
.main-btn:hover span{
    color: #fff;
}
.main-btn .fa-arrow-right{
    transition: .5s ease;
}
.main-btn:hover .fa-arrow-right{
   transform: translateX(10px);
}