.testimonials{
    background-color: #0f0e0f;
    font-family: 'Cormorant',serif;
    height: auto;
    padding-bottom: 183px !important;
}
.testimonials .head p{
    color: #c19f5f;
    letter-spacing: 2px;
}
.testimonials .head h1{
    color: #fff;
}
.testimonials .mySwiper{
    background-color: #0f0e0f !important;
    height: auto !important;
}
.testimonials .box{
    background-image: url(../../../public/assets/Images/pattern-05.png);
    border: 1px solid #c19f5f;
    width: 100%;
}
.testimonials .box .icon i{
    color: #c19f5f;
    font-size: 40px;
}
.testimonials .box p{
    color: hsla(0,0%,100%,.502);
    font-size: 25px;
    padding: 10px 30px 20px;
    width: 100%;
    text-align: center;
}

.swiper-button-prev, .swiper-button-next{
    opacity: 0 !important;
}

@media (min-width: 576px) {
    .testimonials .box {
        width: 60%;
    }
    .testimonials .box p{
        width: 70%;
    }
    
.swiper-button-prev, .swiper-button-next{
    opacity: 1 !important;
}
    
}